@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Qwitcher+Grypen:wght@400;700&display=swap');

.slide-left {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

html {
  font-size: 62.5%;
}
.view{
  padding-left: 1rem;
}
.nav-list{
font-family: "Dancing Script", cursive;
color: #FFFFEA;
}
.nav-list li{
  transition: .3s;

}
.slide-right {
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-left {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}


@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

.nav-container{
  width: 100%;
  height: 7rem;
  background-color: #00CECB;

}

.name{
  color: #FFFFEA;
font-family: "Dancing Script", cursive;
transition: .3s;
}
.name:hover{
  color:#0a157a;
  cursor: pointer;

}
.nav-list li:hover{
  color: #0a157a;
  cursor: pointer;
}
.view button{
  border: 0;
  border-radius: 10px;
  padding: 1rem;
  background-color:#FFFFEA;
  color:#00CECB;
   font-size: 1.3rem;
transition: .5s;
}
.title{
  font-size: 3rem;
font-family: "Dancing Script", cursive;
  color: #00CECB;
}
.product-container{
  width: 30%;
  /* border: 1px solid black; */
  
}
.detail-container{
  width: 50%;
  /* border: 1px solid black; */
  padding: 5rem;
font-family: "Dancing Script", cursive;

}
.description-nest{
  font-size: 2rem;
  color: #FF5E5B;
}
.shop{
  border: 0;
  border-radius: 10px;
  padding: 1rem;
  background-color:#0a157a;
  color:#00CECB;
   font-size: 1.3rem;
transition: .5s;
}
.shop:hover{
  background-color: #FF5E5B;
  color: #FFFFEA;
}
.view button:hover{
  background-color: #FF5E5B;
  color: #FFFFEA;
}
.nested-image {
  width: 35rem;
}
.image-container {
  width: 100%;
  height: 23rem;
  background-color:#00CECB;
}

.blog-container {
  /* border: 3px solid #4b0082; */
  border-radius: 5px;
  width: 25rem;
  height: 39rem;
  background-color: #FFED66;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;

}
body{
  background-color: #FFFFEA;
}

.blog-title {
  padding: 1rem;
  text-align: start;
  color: #4b0082;
}
.slide-top {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.blog-title h1 {
  font-size: 2.3rem;
  margin: 0;
color:#FF5E5B;
font-family: "Dancing Script", cursive;

}
.head{
  font-size: 3rem;
  align-items: center;
  margin-top: 5rem;
}
.blog-description {
  padding: 1.3rem 1rem;
  padding-top: 0;


  text-align: justify;
  color: #333;
}
.blog-description h3{
font-size: 1.3rem;
font-family: "Dancing Script", cursive;

color:#FF5E5B;
}


/* animations */
/* ----------------------------------------------
 * Generated by Animista on 2024-10-8 13:5:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}


@media (max-width : 670px){
  .nav-list{
    font-size: 1.4rem;
    gap: 3rem;
  }
  .description-nest{
    font-size: 1.1rem;
  }
  .title{
    font-size: 2.4rem;
  }
  .name {

    font-size: 1.5rem;
  }
}
@media(max-width : 520px){
  .product-container{
    width: 60%;
  }
  .nav-container{
    justify-content: center;
    gap: 7rem;
  }
  .name{
    animation: none;
  }
  .nav-list{
    animation: none;
  }
  .description-nest{
    font-size: 1.4rem;
  }
  .title{
    font-size: 2.7rem;
  }
  .detail-container{
    width: 70%;
  }

}
@media(max-width : 425px){
  .nav-list{
    font-size: 1.3rem;
    gap:1.7rem;
  }

 .product-container{
  width: 90%;
}
.description-nest{
  font-size: 1.4rem;
}
.title{
  font-size: 2.7rem;
}
.contact-container{

}
.main-contact{
  display: flex;
  justify-content: center;
}
.detail-container{
  width: 90%;

}

}
@media(max-width : 345px){
  .name{
  display: none;
  }
  .nav-container{
    gap: 0;
    display: flex;
    justify-content: center;
  }
  .nav-list{
    font-size: 1.5rem;
    gap: 2remb;
    animation: none;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-10-9 23:49:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
